<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech_Pirates</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <style>
      .banner-image {
        background-image: url('static/img/background.jpg');
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <!-- Navbar  -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
      <div class="container">
        <a class="navbar-brand" href="#">
        <img src="/static/img/logo.jpg" alt="" width="80" height="70" class="d-inline-block align-text-top rounded" id="home">
        Tech-Pirates
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
    </button>
        <!-- <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
 -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="mx-auto"></div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div
      class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="content text-center">
        <h2 class="text-white">Welcome To Our Story Generating Platform</h2>
        <h4 class="text-white">The future of Story Writing is Here.</h4>
        <div class="button">
        	<button type="button" class="btn text-white " style="background-color: green" onclick="location.href='generator/';">Create Your Story</button>
        	<button type="button" class="btn text-white" style="background-color: green" onclick="location.href='stories/';">Post Your Story</button>
          <br><br>
          <button type="button" class="btn text-white " style="background-color: green" onclick="location.href='storiesDatabase/';">View Your Story</button>
        	<button type="button" class="btn text-white" style="background-color: green" onclick="location.href='history/';">View Your History</button>
        </div>
      </div>
    </div>


    <div class="row">
    	<h1 class="text-center" style=" color: black; padding-top: 20px; padding-bottom: 20px;" id="about">About Us</h1>
        <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 20px;">
        	<img src="static/img/2image.jpeg" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 desc bg-dark text-white" style="padding: 20px;">
     
         <h3 class="text-center bg-dark text-white">Story Generating Platform</h3>
         <p class="" style="padding-top: 10px;">
          We all loves to read stories weather it is short or long, and Even sometimes we did liked to jot it down, if you don't like it atleast we all have our childhood memories of writing stories. And we all know it is such drag to write for some. So here our project comes by just specifying words or even sentences the story will generated automatically in whichever genre you want. After using this it will be so much fun to write story which automatically level up the story writing part. You can generate stories in sci_fic, thriller, horror, drama, action, superhero genre with upto 300 words.
          <br>
          Steps to create story :
          <ol>
            <ul>1. Click on the Create on story button.</ul>
            <ul>2. Enter your word or sentences (It wil not work properly if you just specify the alphabets, numbers and special symbols)</ul>
            <ul>3. Select the genre.</ul>
            <ul>4. Click on the generate button</ul>
            <ul>5. And rest is the story which you have to read.</ul>
          </ol> 
         </p>
        </div>
       </div>   

       <div class="row">
    	<h1 class="text-center" style=" color: black; padding-top: 20px; padding-bottom: 20px;" id="contact">Contact</h1>
        <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 50px;">
        	<div class="card">

        <div class="card-body">
        	<div>
        		<h2 class="text-center">Team-Pirates</h2>
        		<p class="text-center" style="font-size: 30px; color: black;">Proud members of Team-Pirates are :</p>
        		<br>
        		<p class="" style="font-size: 20px; color: black;">
        			<ol>
        				<li style="font-size: 20px; color: black;"> Tushar Amdoskar </li>
        				<li style="font-size: 20px; color: black;"> Deep  Coomer </li>
        				<li style="font-size: 20px; color: black;"> Nikita Dubey </li> 
        			</ol>
        		</p><br><br>
        		<div class="row">
        			<div class="col justify-content-center">
        				<a href="https://www.nikdubey06@gmail.com"><i class="far fa-envelope fa-2x"></i></a>
        			<a href="https://www.instagram.com/deepcoomer07/"><i class="fab fa-instagram fa-2x"></i></a>
        			<a href="https://twitter.com/i/flow/signup"><i class="fab fa-twitter fa-2x"></i></a>
        			<a href="https://www.GitHub.com/TusharAMD"><i class="fab fa-github fa-2x"></i></a>
        			<a href="https://www.LinkedIn.com/in/tushar-amdoskar"><i class="fab fa-linkedin fa-2x"></i></a>
        		</div>
        		</div>
        		<br><br>

        	</div>
        </div>

      </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 desc justify-content-center" style="padding: 20px;">
        	<div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 400px">
        		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d60284.162646735356!2d72.8204004142334!3d19.205674887819356!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x973ee0458244da44!2sAtharva%20College%20Of%20Engineering!5e0!3m2!1sen!2sin!4v1621684764541!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
        </div>
       </div>  

    <footer class=" page-footer text-center bg-dark">
    	<div class="footer-copyright py-3 text-white">
      © 2021 Copyright : Tech_Pirates
    </div>
    </footer>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
      var nav = document.querySelector('nav');

      window.addEventListener('scroll', function () {
        if (window.pageYOffset > 100) {
          nav.classList.add('bg-dark', 'shadow');
        } else {
          nav.classList.remove('bg-dark', 'shadow');
        }
      });
    </script>
  </body>
</html>